a{
  text-decoration: none;
  color: white;
}

a:hover{
    color: #5050FF;
}

.company-container{
  background-color: #F8F8F8;
  border-radius: 20px;
  width: 650px;

}

.company-container div{
  margin-bottom: 30px;
  text-align: center;
  padding: 10px;
}

.company-container div p{
  font-size: 15px;
  text-align: left;
  margin: 0;  
  padding: 5px;
}

.company-container div p span {
  font-weight: bolder;
  color: #3C7FCC;
}

.company-container button{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #3C7FCC;
  text-align: center;

}



